################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RoverControl/v17
/__vm
/.vs/RoverControl
/Debug/RoverControl.log
/Release/RoverControl.tlog/RoverControl.lastbuildstate
/Release/RoverControl.log
/Release/vc143.pdb
/~AutoRecover.RoverControl.vcxproj0
/~AutoRecover.RoverControl.vcxproj1
/RoverControl.vcxproj.filters
